.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: rgb(154, 255, 193);
    font-family: "Comic Sans MS",cursive;
}

.title {
    text-align: center;
    font-family: "Comic Sans MS",cursive;
    font-style: italic;
}

.title .highlight {
    color: red;
}

.input-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: rgb(154, 255, 193);
    border: 1px solid rgb(154, 255, 193);
    padding: 20px;
    width: 100%;
}

.input-fields input {
    color: rgb(154, 255, 193);
    background-color: black;
    border: 1px solid rgb(154, 255, 193);
    margin-bottom: 10px;
    padding: 5px;
    width: 80%;
}

.continue-button {
    background: none;
    border: none;
    color: rgb(154, 255, 193);
    font-size: 1em;
    margin: 20px;
    padding: 0.25em 1em;
    transition: 0.3s;
    font-family: "Comic Sans MS",cursive;
}

.continue-button span {
    display: inline-block;
    margin-left: 10px;
}

.continue-button:hover {
    transform: translateY(-3px);
}

.continue-button:active {
    transform: translateY(-1px);
}

@media screen and (width: 600px) {
    body {
        color: red;
    }
}